<a href="https://colab.research.google.com/github/sridhar-maddi/Sridhar_INFO571_FALL2022/blob/main/In_class_exercise_01_09072022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
string = input('enter the string :')
print(len(string))

enter the string :dhbchdhnn8
10

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def char_frequency(str1):
	    dic = {}
	    for n in str1:
	        keys = dic.keys()
	        if n in keys:
	            dic[n] += 1
	        else:
	            dic[n] = 1
	    return dic
print(char_frequency('facebook.com'))

{'f': 1, 'a': 1, 'c': 2, 'e': 1, 'b': 1, 'o': 3, 'k': 1, '.': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
list=[7,10,20,85,40] #Consider a list of integers
s=0
for i in range(len(list)):
  s=s+list[i]
print(s)

162

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
str = "river"
final = str.replace("r", "$").replace("$", "r", 1)
print(final)

rive$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:

a = int(input('enter the value of a :'))
b = int(input('enter the value of b :'))

S = 3.14*(1 + a/b)**3

print('S =',S)

enter the value of a :6
enter the value of b :3
S = 84.78

In [ ]:
# write your answer here

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
Dict1={1:10, 2:20}
Dict2={3:30, 4:40}
Dict3={5:50,6:60}
Dict1.update(Dict2)
Dict1.update(Dict3)
print(Dict1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
tuple = ['s',2,'r',8,'i',5,'s','d','r','h','a']
print(8 in tuple)
print('b' in tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
set = {2,5,7,1,6,9,0}
print(max(set))
print(min(set))

9
0

In [ ]:
# write your answer heres

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [1]:
# write your answer here
from itertools import islice
from random import randint
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814']

def class_group(student_list, no_of_groups, minsize=3, maxsize=5):
    list_student = iter(student_list)
    for i in range(no_of_groups):
        group = list(islice(list_student,randint(minsize,maxsize)))
        if group:
            yield group
        else:
            break
print(list(class_group(student_list,5)))

[['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'], ['bk0301', 'rak0120', 'rrk0058', 'sk1458', 'sk1313'], ['ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353'], ['dr0609', 'ms1500', 'aos0040', 'ds0814']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
def dup_elements(Elements):
    count=0
    list2=[]
    for i in range(len(Elements)):
        for j in range(i+1,len(Elements)):
            if Elements[i]==Elements[j]:
                list2.append(Elements[i])
    if len(list2)==0:
        return -1;
    else:
        return list2;
Elements=[45,55,45,89,98,89,55,67]
print(dup_elements(Elements))

[45, 55, 89]

In [ ]:
# write your answer here

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta
def Year_Sunday(year):
       date_time = date(year, 1, 1)
       date_time += timedelta(days = 6 - date_time.weekday())
       while date_time.year == year:
          yield date_time
          date_time += timedelta(days = 7)
for k in Year_Sunday(2022):
   print(k)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25