<a href="https://colab.research.google.com/github/sridhar-maddi/Sridhar_INFO5731_FALL2022/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random
luffylist = []
for i in range(0, 12):
 e = random.randint(1, 100)
 luffylist.append(e)
f = sorted(luffylist)
print(f)
u = sorted(luffylist, reverse = True)
print(u)
t=sum(u)/len(u)
print(t)

[21, 26, 33, 45, 49, 59, 62, 65, 67, 69, 71, 96]
[96, 71, 69, 67, 65, 62, 59, 49, 45, 33, 26, 21]
55.25

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
import nltk
nltk.download('punkt')
vakyam1=str(input('Please Enter the first sentence:'))
vakyam2=str(input('Please Enter the second sentence:'))
import nltk
sri1 = nltk.word_tokenize(vakyam1)
sri2 = nltk.word_tokenize(vakyam2)
print(sri1)
print(sri2)
#Comparing the two sentences and printing words occuring in both
print(set(sri1) & set(sri2))
#remove punctuations
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')
s11=tokenizer.tokenize(vakyam1)
s22=tokenizer.tokenize(vakyam2)
print(sri1)
print(sri2)
#counting vowels
vsk1 = vakyam1.lower()
vsk2 = vakyam2.lower()
vowel_counts1 = {}
vowel_counts2 = {}
for vowel in "aeiou":
 count1 = vsk1.count(vowel)
 vowel_counts1[vowel] = count1
 count2 = vsk2.count(vowel)
 vowel_counts2[vowel] = count2
print('The vowels in the first sentence are:', vowel_counts1)
print('The vowels in the second sentence are:', vowel_counts2)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

Please Enter the first sentence:I like to eat ice cream,cakes.
Please Enter the second sentence:I hate green leafy vegeatables;cabbage.
['I', 'like', 'to', 'eat', 'ice', 'cream', ',', 'cakes', '.']
['I', 'hate', 'green', 'leafy', 'vegeatables', ';', 'cabbage', '.']
{'.', 'I'}
['I', 'like', 'to', 'eat', 'ice', 'cream', ',', 'cakes', '.']
['I', 'hate', 'green', 'leafy', 'vegeatables', ';', 'cabbage', '.']
The vowels in the first sentence are: {'a': 3, 'e': 5, 'i': 3, 'o': 1, 'u': 0}
The vowels in the second sentence are: {'a': 6, 'e': 8, 'i': 1, 'o': 0, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [6]:
# Your code here
r= range(1,11)
print('r','v')
for h in r:
  v=round(1.33*3.14*h**3,2)
  print(h,v)

r v
1 4.18
2 33.41
3 112.76
4 267.28
5 522.03
6 902.06
7 1432.44
8 2138.21
9 3044.45
10 4176.2

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [1]:
# Your code here
import statistics
import pandas as pd
data = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv')
#1
#Calculate the difference in the number of Occupied Housing Units from year to year andprint it.
#The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010

occuped_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year

diff_house = [list(occuped_houses['value'].values)[loop] - list(occuped_houses['value'].values)[loop+1]\
for loop in range(len(occuped_houses)-1)]
diff_house

[795, -5091, 303, -1404, -1565, -2622]

In [2]:
year_unique_value = sorted(list(data['year'].unique()))
the_occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
the_vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
unoccupied_house_df = pd.DataFrame()
unoccupied_house_df['year'] = year_unique_value
unoccupied_house_df['Vacant House'] =the_vacant_houses['value'].values
unoccupied_house_df['Occupied House'] =the_occupied_houses['value'].values
unoccupied_house_df['Percentage of Vacant House'] = [(unoccupied_house_df['Vacant House'][loop1] * 100) /\
                                           (unoccupied_house_df['Vacant House'][loop1] + unoccupied_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(unoccupied_house_df))]
unoccupied_house_df['Percentage of Occupied House'] = [(unoccupied_house_df['Occupied House'][loop1] * 100) /\
                                           (unoccupied_house_df['Vacant House'][loop1] + unoccupied_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(unoccupied_house_df))]
unoccupied_house_df

,year,Vacant House,Occupied House,Percentage of Vacant House,Percentage of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [3]:
no_of_max_idle_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
the_vacant_houses = the_vacant_houses[the_vacant_houses['value'] == no_of_max_idle_houses]
print(the_vacant_houses)
no_of_max_filled_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
no_of_max_filled_houses = the_occupied_houses[the_occupied_houses['value'] == no_of_max_filled_houses]
print(no_of_max_filled_houses)

    year           title_field  value
19  2008  Vacant Housing Units   4483
   year             title_field  value
2  2014  Occupied Housing Units  46295

In [4]:
import statistics
print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].value)))

44398.28543969185